[Unit]
Description=Atlas seedbox
After=postgresql.service

[Service]
Type=exec
User=atlas
Group=atlas
WorkingDirectory=/home/atlas/atlas/seedbox
ExecStart=/home/atlas/atlas/seedbox/start.sh
Restart=always

[Install]
WantedBy=multi-user.target
