[Unit]
Description=The movie database daemon
After=network-online.target postgresql.service windscribe.service

[Service]
WorkingDirectory=/home/atlas
ExecStartPre=/usr/bin/find /home/atlas/posters -type f -empty -delete -print
ExecStartPre=/usr/bin/echo Done
ExecStartPre=/usr/bin/sleep 30
ExecStart=/usr/local/bin/tmdbd
User=atlas
Group=atlas

[Install]
WantedBy=graphical.target
