[Unit]
Description=The movie database daemon
After=network-online.target postgresql.service

[Service]
Type=exec
User=atlas
Group=atlas
WorkingDirectory=/home/atlas
ExecStart=/home/atlas/tmdbd
Restart=always

[Install]
WantedBy=multi-user.target
