[Unit]
Description=Atlas frontend
After=weston.service

[Service]
Type=exec
ExecStart=/opt/frontend/frontend
Restart=always
RestartSec=1

EnvironmentFile=/opt/frontend/env
Environment=HOME=/root
Environment=PATH=/usr/local/bin:/sbin:/bin
Environment=WAYLAND_DISPLAY=wayland-1
Environment=XDG_RUNTIME_DIR=/run/user/0
Environment=GTK_A11Y=none

[Install]
WantedBy=multi-user.target

