[Unit]
Description=Atlas frontend
After=weston.service

[Service]
Type=exec
ExecStart=frontend.sh
Restart=always
RestartSec=1

Environment=HOME=/root
Environment=PATH=/usr/local/bin:/sbin:/bin
Environment=WAYLAND_DISPLAY=wayland-1
Environment=XDG_RUNTIME_DIR=/run/user/0

[Install]
WantedBy=multi-user.target

