[Unit]
Description=Weston
After=user@0.service

[Service]
Type=exec
ExecStart=weston
Restart=always

Environment=HOME=/root
Environment=XDG_RUNTIME_DIR=/run/user/0

[Install]
WantedBy=multi-user.target
