[Unit]
Description=Weston
After=dbus.socket

[Service]
Type=notify
ExecStart=weston.sh
Restart=always
RestartSec=1

Environment=HOME=/root
Environment=PATH=/usr/local/bin:/sbin:/bin
Environment=XDG_RUNTIME_DIR=/run/user/0

[Install]
WantedBy=multi-user.target
