[Unit]
Description=Atlas VPN configuration
ConditionPathExists=/etc/atlas-vpn.ovpn
After=vpn.service
Before=atlas-server.service

[Service]
Type=oneshot
ExecStartPre=sh -c 'while ! test -e /sys/class/net/tun0; do sleep 1; done'
ExecStart=/usr/lib/atlas/configure-vpn.sh
RemainAfterExit=true
Restart=on-failure

[Install]
WantedBy=multi-user.target
