[Unit]
Description=Atlas server
After=postgresql.service

[Service]
Type=exec
User=atlas
Group=atlas
EnvironmentFile=/etc/atlas.env
ExecStart=node --enable-source-maps /usr/share/nodejs/atlas-server
Restart=always

[Install]
WantedBy=multi-user.target
