[Unit]
Description=Atlas backend
After=postgresql.service

[Service]
Type=exec
User=atlas
Group=atlas
EnvironmentFile=/etc/atlas.env
ExecStart=node --enable-source-maps /usr/share/nodejs/atlas-server -mbackend -p $BACKEND_PORT
Restart=always

[Install]
WantedBy=multi-user.target
