[Unit]
Description=The movie database daemon
After=network-online.target postgresql.service

[Service]
Type=exec
User=atlas
Group=atlas
EnvironmentFile=/etc/atlas.env
ExecStart=tmdbd
Restart=always
RuntimeMaxSec=86400

[Install]
WantedBy=multi-user.target
