window {
	background: transparent;
	font-family: Cantarell;
	font-weight: 200;
}

revealer {
	padding: 0 2rem;
	margin: 0 4rem;
}

image {
	margin-right: 2rem;
}

.container {
	background: #222;
	border-radius: 3rem;
	box-shadow: 0 -0.5rem 1.5rem #222;
	color: white;
}

.container.top {
	margin-top: -3rem;
	padding: 4rem 1.5rem 1rem 1.5rem;
}

.container.bottom {
	margin-bottom: -3rem;
	padding: 1rem 1.5rem 4rem 1.5rem;
	font-size: 7rem;
}

.title {
	font-size: 4rem;
}

.info {
	font-size: 2rem;
	min-width: 12rem;
}

.mono {
	font-family: Noto Sans Mono;
}

.progress-bar {
	background: gray;
	border-radius: 2rem;
	min-height: 48px;
	min-width: 750px;
}

.buffered {
	background: darkgray;
	border-radius: 2rem;
}

.progress {
	background: tomato;
	border-radius: 2rem;
}
