window {
	background: transparent;
}

revealer {
	padding: 0 2em;
	margin: 0 4em;
}

label {
	font-family: Cantarell;
	font-size: 7em;
	font-weight: 200;
}

image {
	margin-right: 2rem;
}

.container {
	background: #222;
	border-radius: 3em;
	box-shadow: 0 -0.5em 1.5em #222;
	color: white;
	font-weight: 100;
}

.container.top {
	margin-top: -3em;
	padding: 4em 1.5em 1em 1.5em;
}

.container.bottom {
	margin-bottom: -3em;
	padding: 1em 1.5em 4em 1.5em;
}

.title {
	font-size: 4em;
}

.speed {
	font-size: 2em;
	min-width: 12rem;
}

.mono {
	font-family: Noto Sans Mono;
}

.progress-bar {
	background: gray;
	border-radius: 2rem;
	min-height: 48px;
	min-width: 750px;
}

.buffered {
	background: darkgray;
	border-radius: 2rem;
}

.progress {
	background: tomato;
	border-radius: 2rem;
}
