window {
	background: transparent;
}

revealer {
	padding-bottom: 0;
	padding: 2em;
	margin: 0 4em;
}

.container {
	background: #222;
	border-radius: 3em;
	box-shadow: 0 -0.5em 1.5em #222;
	color: white;
	font-weight: 100;
	margin-bottom: -5em;
	margin-top: 3em;
	padding: 1em 1.5em 4.5em 1.5em;
}

.mono {
	font-family: Noto Sans Mono;
}

label {
	font-family: Cantarell;
	font-size: 7em;
	font-weight: 200;
}

image {
	margin-right: 2em;
}

.progress-bar {
	background: gray;
	border-radius: 2em;
	min-height: 48px;
	min-width: 750px;
}

.progress {
	background: tomato;
	border-radius: 2rem;
}
